[Desktop Entry]
Name=Tasks
Comment=Create reminders and tasks
Exec=com.github.naz013.tasks %U
Icon=com.github.naz013.tasks
Keywords=Note;Reminder;Task;Shopping List;
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;
Actions=NewTask;
X-GNOME-UsesNotifications=true

[Desktop Action NewTask]
Exec=com.github.naz013.tasks --new-task
Name=New task
